.card {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 1px 1px 40px #0b3e5d;
}
.card:hover{
 margin-top: -15px;
 cursor: pointer;
 box-shadow: 1px 1px 40px #0f6295;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, #093551 20%, #08072f 38%, #08072f
  40%, #08072f 48%);
  animation: gradientAnimation 4s infinite;
}

@keyframes gradientAnimation {
  100% {
    transform: translateX(-100%);
  }
}


