@tailwind base;
@tailwind components;
@tailwind utilities;

/* for ease of debugging in ui components */
.debug {
	border: 1px solid red;
}

.debug > * {
	border: 1px solid green;
}

.debug > * > * {
	border: 1px solid blue;
}
