.sign-up-box{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../../assests/images/free.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}