.sign-up-box{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../../assests/images/free.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}